services:
  # MySQL Database
  wordpress-db:
    image: mysql:8.0
    container_name: headless-wp-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - wordpress-network
      - app-network

  # WordPress
  wordpress:
    depends_on:
      - wordpress-db
    image: wordpress:latest
    container_name: headless-wp
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      # Enable WP_DEBUG for development
      WORDPRESS_DEBUG: ${WORDPRESS_DEBUG}
    volumes:
      - ./wordpress:/var/www/html
      - ./config/php.ini:/usr/local/etc/php/conf.d/custom.ini
    networks:
      - wordpress-network
      - app-network

  # WP-CLI for managing WordPress
  wpcli:
    depends_on:
      - wordpress-db
      - wordpress
    image: wordpress:cli
    container_name: headless-wp-cli
    user: "33:33"
    volumes:
      - ./wordpress:/var/www/html
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
    networks:
      - wordpress-network
      - app-network
    command: tail -f /dev/null

volumes:
  db_data:

networks:
  wordpress-network:
    driver: bridge
  app-network:
    external: true
    name: app-network
